body {
  padding: 50px;
  font-family: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
}
h1 {
  color: #00B7FF;
  font-family: Arial;
}
button{
	display: block;	
	margin-top: 6px;
	margin-left: 100px;
	width: 10%;
	min-width: 20px;
	max-width: 60px;
	cursor: pointer;
}